{extend name='public/base'/}
{block name='header'}{/block} {//关掉头部}
{block name='menu'}{/block} {//关掉菜单}
{block name='seo'}
<title>{$title|default="标题"}</title>
<meta name="keywords" content="{$keywords|default='关键字'}">
<meta name="description" content="{$desc|default='描述'}">
{/block}
{block name="content"}
    <article class="cl pd-20">
        <div class="formControls col-xs-8 col-sm-9" style="text-align: center">
            {if condition="$evalPic eq null"}
            <img style="width:90%;height: 90%;margin-left: 25%" src="/uploads/system\dateNull.png">
            {else /}
            <img style="width:90%;height: 90%;margin-left: 25%"  src="{$evalPic}">
            {/if}
        </div>
    </article>
{/block}

{block name="js"}
<script>

</script>
{/block}
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>