{extend name="public/base" /}
</head>
<body>
{block name="content"}
    <!--<section class="Hui-article-box">-->
        <nav class="breadcrumb">
            <i class="Hui-iconfont" style="margin-left:20px;"></i> <a href="{:url('index/welcome')}" class="maincolor">首页</a>
            <span class="c-999 en">&gt;</span>
            <span class="c-666">我的桌面</span>
            <a class="btn btn-success radius r" style="margin-right:20px;line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a>
        </nav>

    <div class="Hui-article">
        <article class="cl pd-20">
            <p class="f-20 text-success">
                欢迎使用辅导员管理系统
            </p>
        </article>
        <footer class="footer">
            <p>本系统由广西师范大学电子工程学院进行开发维护</p>
        </footer>
    </div>

    <!--</section>-->
    {/block}

</body>
</html>


