{extend name="public/base" /}

{block name="seo"}
<title>{$title|default='PHP'}</title>
<meta name="keywords" content="{$keywords|default='关键字'}">
<meta name="description" content="{$desc|default='描述'}">
<style>
    /*分页*/
    .pagination {
    }

        .pagination li {
            display: inline-block;
            margin-right: -1px;
            padding: 5px;
            border: 1px solid #e2e2e2;
            min-width: 20px;
            text-align: center;
        }

            .pagination li.active {
                background: #009688;
                color: #fff;
                border: 1px solid #009688;
            }

            .pagination li a {
                display: block;
                text-align: center;
            }
</style>
</head>
<body>
    {/block}
    {block name="content"}
    <!--<section class="Hui-article-box">-->
        <nav class="breadcrumb">
            <i class="Hui-iconfont" style="margin-left:20px;">&#xe67f;</i>  <a href="{:url('index/welcome')}" class="maincolor">首页</a>
            <span class="c-gray en">&gt;</span>
            用户管理
            <span class="c-gray en">&gt;</span>
            学生列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a>
        </nav>

        <div class="Hui-article">
            <article class="cl pd-20">
                <div class="cl pd-5 bg-1 bk-gray mt-20" style="margin-bottom:30px;">
                    <span class="l">
                        <a href="javascript:;" class="btn btn-secondary radius" onclick="student_add('添加学生', '{:url("admin/studentAdd")}','800','500')">
                        <i class="Hui-iconfont">&#xe607;</i> 添加学生
                        </a>

                        <a style="margin-left:5px;" href="javascript:;" class="btn btn-primary radius" onclick="student_add('', '{:url("admin/studentBatchAdd")}','800','450')">
                        <i class="Hui-iconfont">&#xe72d;</i> 批量添加
                        </a>

                        <a style="margin-left:5px;" href="javascript:;" onclick="stu_batch_dete(this)" class="btn btn-danger radius">
                            <i class="Hui-iconfont">&#xe6e2;</i> 批量删除
                        </a>

                    </span>
                    <span class="r"></span>
                </div>

                <table id="table" class="table table-border table-bordered table-bg table-hover table-sort radius">
                    <thead>
                        <tr>
                            <th scope="col" colspan="14">信息列表</th>
                        </tr>
                        <tr class="text-c">
                            <th width="10"><input type="checkbox" name="" value=""></th>
                            <th width="80">学号</th>
                            <th width="60">姓名</th>
                            <th width="30">角色</th>
                            <th width="40">头像</th>
                            <th width="50">民族</th>
                            <th width="50">政治面貌</th>
                            <th width="100">联系电话</th>
                            <th width="150">专业</th>
                            <th width="100">班级</th>
                            <th width="80">是否已启用</th>
                            <th width="100">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        {volist name="list" id="vo"}
                        <tr class="text-c">
                            <td><input type="checkbox" name="" value=""></td>
                            <td>{$vo.studentId}</td>
                            <td>{$vo.userName}</td>
                            <td>学生</td>
                            <td>
                                {if condition="$vo.picture eq null"}
                                <img style="width:48px;height:48px;" src="/uploads/system\dateNull.png">
                                {else /}
                                <img style="width:48px;height:48px;" src="{$vo.picture}">
                                {/if}
                            </td>
                            <td>{$vo.nation}</td>
                            <td>{$vo.polity}</td>
                            <td>{$vo.contact}</td>
                            <td>{$vo.mid}</td>
                            <td>{$vo.cid}</td>
                            <td class="td-status">
                                {if condition="$vo.status eq 1"}
                                <span class="label label-success radius">已启用</span>
                                {else /}
                                <span class="label-default radius">已禁用</span>
                                {/if}
                            </td>
                            <td class="td-manage">
                                {if condition="$vo.status eq 1"}
                                <a style="text-decoration:none" onclick="student_stop(this,{$vo.id})" href="javascript:;" title="停用">
                                    <i class="Hui-iconfont">&#xe631;</i>
                                </a>
                                {else /}
                                <a style="text-decoration:none" onclick="student_start(this,{$vo.id})" href="javascript:;" title="启用">
                                    <i class="Hui-iconfont">&#xe615;</i>
                                </a>
                                {/if}

                                <a style="text-decoration:none" href="javascript:;" title="编辑" class="ml-5" onclick="student_edit('学生编辑', '{:url("admin/studentEdit",["id"=>$vo["id"]])}','800','500')">
                                <i class="Hui-iconfont">&#xe6df;</i>
                                </a>

                                <a style="text-decoration:none" class="ml-5" href="javascript:;" title="删除" onclick="student_del(this, {$vo.id})">
                                    <i class="Hui-iconfont">&#xe6e2;</i>
                                </a>
                            </td>
                        </tr>
                        {/volist}
                    </tbody>


                </table>
               
            </article>
            <footer class="footer">
                <p>本系统由广西师范大学电子工程学院进行开发维护</p>
            </footer>
        </div>
    <!--</section>-->
    {/block}

    {block name="js"}
    <script>

        /*学生-停用*/
        function student_stop(obj,id) {
            layer.confirm('确认要停用吗？', function (index) {
                //此处请求后台程序，下方是成功后的前台处理……
                $.get("{:url('admin/setStatus')}", {role:0, id: id });
                $(obj).parents("tr").find(".td-manage").prepend('<a onClick="studnet_start(this,id)" href="javascript:;" title="启用" style="text-decoration:none"><i class="Hui-iconfont">&#xe615;</i></a>');
                $(obj).parents("tr").find(".td-status").html('<span class="label label-default radius">已禁用</span>');
                $(obj).remove();
                layer.msg('已停用!', { icon: 5, time: 1000 });
                 window.location.reload(); 
            });
        }

        /*学生-启用*/
        function student_start(obj,id) {
            layer.confirm('确认要启用吗？', function (index) {
                //此处请求后台程序，下方是成功后的前台处理……
                $.get("{:url('admin/setStatus')}",{role:0, id: id });
                $(obj).parents("tr").find(".td-manage").prepend('<a onClick="student_stop(this,id)" href="javascript:;" title="停用" style="text-decoration:none"><i class="Hui-iconfont">&#xe631;</i></a>');
                $(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已启用</span>');
                $(obj).remove();
                layer.msg('已启用!', { icon: 6, time: 1000 });
                 window.location.reload(); 
            });
        }

        /*学生-编辑*/
        function student_edit(title, url, w, h) {
            $.get(url);
            layer_show(title, url, w, h);
            }

        /*学生-添加*/
        function student_add(title, url, w, h) {
            $.get(url);
            layer_show(title, url, w, h);
            }
    
        /*学生-删除*/
        function student_del(obj, id) {
            layer.confirm('确认删除吗？', function (index) {
                $.get("{:url('admin/deleteStudentUser')}", { id: id });
                $(obj).parents("tr").remove();
                layer.msg('已删除!', { icon: 1, time: 1000 });
            });
    }
        $('.table-sort').dataTable({
	    "aaSorting": [[ 1, "desc" ]],//默认第几个排序
	    "bStateSave": true,//状态保存
	    "aoColumnDefs": [
	        //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
	        {"orderable":false,"aTargets":[0,4]}// 制定列不参与排序
	    ]
        });
        /*学生-批量删除*/
        function stu_batch_dete(obj) {
            layer.confirm('确认要删除吗？', function (index) {
                    var data = [];
                    $("#table").find(":checkbox:checked").each(function(){
                    var val = $(this).parent().next().text();
                    data.push(val);
                });
                //此处请求后台程序，下方是成功后的前台处理……
                $.ajax({
                type: "POST",
                url: "{:url('admin/batchDStu')}",
                data: {data:data},
                dataType: "json",
                success: function (data) {
                    if (data.status == 1) {
                        layer.msg(data.message, { icon: 1, time: 2000 });
                        setTimeout(function () {window.location.reload();},1000);
                    } else {
                        layer.msg(data.message, { icon: 2, time: 2000 });

                    }
                    
                   
                }
                });
                
                
            });
        }
    </script>
    {/block}
    <!--/请在上方写此页面业务相关的脚本-->
</body>
</html>