{extend name="public/base" /}

{block name="seo"}
<title>{$title|default='PHP'}</title>
<meta name="keywords" content="{$keywords|default='关键字'}">
<meta name="description" content="{$desc|default='描述'}">
</head>
<body>
    {/block}
    {block name="content"}
    <!--<section class="Hui-article-box">-->
        <nav class="breadcrumb">
            <i class="Hui-iconfont">&#xe67f;</i>  <a href="{:url('index/welcome')}" class="maincolor">首页</a>
            <span class="c-gray en">&gt;</span>
            考勤管理
            <span class="c-gray en">&gt;</span>
            考勤列表
            <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a>
        </nav>
        <div class="Hui-article">
            {volist name="yidlist" id="yvo"}
            <div class="panel panel-primary">
                <div class="panel-header">{$yvo.yid}级</div>
                <div class="panel-body" style="height:110px;">
                    {volist name="gradelist" id="gvo"}
                    {eq name="$gvo.yid" value="$yvo.yid"}
                    <div class="grid-demo" style=" float:left;background:rgba(235, 225, 225, 0.3); height:90px;text-align:center;width:100px;margin-left:20px;margin-top:10px;">
                        <a href="{:url('tchattendmgr/attendEdit',["cid"=>$gvo["cid"],"classInfo"=>$gvo["yid"]."级".$gvo["gradeName"]])}" style="text-decoration:none">
                            <i class="Hui-iconfont" style="font-size: 50px;">&#xe67f;</i>
                            <h4 style="margin-top:-20px;">{$gvo.gradeName}</h4>
                        </a>
                    </div>
                    {/eq}
                    {/volist}
                </div>
            </div>
            {/volist}
            
            <footer class="footer"></footer>
        </div>
    <!--</section>-->
    {/block}

    {block name="js"}
    <script>
        /*考勤班级-查看*/
        function attend_edit(title, url, w, h) {
                $.get(url);
                layer_show(title, url, w, h);
            }
        /*专业-删除*/
        function major_del(obj, mid) {
            layer.confirm('确认删除吗？', function (index) {
                $.get("{:url('admajorgd/deleteMajor')}", { mid: mid });
                $(obj).parents("tr").remove();
                layer.msg('已删除!', { icon: 1, time: 1000 });
            });
            }

        /*专业-编辑*/
        function major_edit(title, url, w, h) {
            $.get(url);
            layer_show(title, url, w, h);
            }
    </script>
    {/block}
    <!--/请在上方写此页面业务相关的脚本-->
</body>
</html>